.wrapper {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
}

.columnLeft {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
}

